# =====================
# Python / Conda
# =====================
__pycache__/
*.pyc
.env
*.env

# =====================
# Amadeus runtime data
# =====================
backend/__pycache__/
backend/unused_files/
backend/txtfiles/api_key.txt
backend/txtfiles/memory.json
backend/ttsout/generated.wav
backend/txtfiles/memory.db


# =====================
# Logs
# =====================
log_*.txt

# =====================
# GPT-SoVITS (heavy / generated)
# =====================
GPT-SoVITS

# =====================
# OS junk
# =====================
.DS_Store
Thumbs.db


#other:
UsefulInfo
